body{
	padding: 0px;
	margin: 0px;
	background-image: url("imagens/yellowbackground.jpg");
}
nav {
	font-family: 'Bahiana', cursive;
}
#menu{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	width: 100%;
	font-family: 'Bahiana', cursive;
}
#menu ul{
	position: relative;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
#navbar ul li a{
	color: lightgray;
}
#navbar ul li a:hover{
	color: white;
}

#ultimo{
	margin-right: 30%;
}

#menu ul li{
	display: inline-block;
	padding: 0px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 0px; 
	color: white;
	transition: background-color 0.2s;
	font-family: 'Ubuntu', sans-serif;
	font-size: 11pt;

}
.dado{
	padding: 0px;
	margin-right: 40px;
	height: 100px
	width: 15px;
}
.normal:hover{
	background-color: #6A6C6E;
	color: black;
}

.cadastro:hover{
	color: #FFE94E;
}
a{
	text-decoration: none;
	color: white ;
}
.sections{	
	margin: 0px;
	width: 100%;
	height: 600px;
}
#section1{
	margin-top: 40px;
	background-image: url("../imagens/section1bg1.jpg");
}
.sections h1{
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
	font-size: 50pt;
}
#section1 div{
	display: block;
	float: left;
	padding-top: 10%;
	margin-left: 15%;
	margin-right: auto; 
	width: 50%;
	color: white;
}
#para{
	margin-top: 5%;
}
#section1 div h1 span{
	padding-bottom: 13px;
	border-bottom: 7px solid white;
	border-radius: 4px;
}
#section1 img{
	display:  block;
	margin-top: 10%;
	margin-right: 10%;
	float: right;
	width: 15%;
	transition-duration: 17s;
}
#section1 img:hover{
	transform:rotate(200000000deg);
}
#section2{
	background-image: url("../imagens/section2bg.jpg");
	padding-top: 50px; 
	border-bottom: 10px dotted black;
}
#section2 div{
	display: block;
	float: left;
	margin-left: 10%;
	width: 50%;

}
#section2 h1{
	font-size: 30pt;
}
#quote{
	margin-left: 10%;
	font-size: 20pt;
	color: red;
}
#section2 img{
	position: relative;
	top: 25%;
	height: 76%;
	width: 30%;
	margin-left: 5%;
	

}
#section2 button{
	margin-left: 40%;
	border-radius: 20px;
	height: 40px;
	background-color: #4FAFB2;
	color: white;
	cursor: pointer;
}
#section2 button:hover{
	color: #FFE93D;
}
#section2 button:active{
	border-radius: 0px;
}
#section3{
	background-image: url("../imagens/mago6.jpg");: 
	color: white;
	border-top: 10px dotted white;
	border-bottom: 10px solid black;

}
#circulos{
	position: relative;
	display: block;
	float: right;
	padding-right: 40%;
	font-size: 5pt;
	text-align: left;
	color: white;
}
.circle{
	display: block;
	opacity: 0;
	margin-bottom: 50px;
	border-radius: 50px;
	box-shadow: 0px 0px 100px #8743ef;
	height: 100px;
	width: 100px;
}
#circle1{	
	background-color: #7643ef;
	margin-left: 0px;
	transition: margin-left 0.6s , opacity 1s;

	
}
#circle1:hover{
	background-color: #8743ef;
	box-shadow: 0px 0px 200px #8743ef;
}
#circle2{
	background-color: #522596;
	transition: margin-left 0.8s, opacity 1s;
}
#circle3{
	background-color: #8610e8;
	transition: margin-left 1s, opacity 1s;
	margin-bottom: 0px;
}
#section3 #mago{
	display: block;
	float: left;
	margin-right: 0px;
	margin-top: 2.6%;
	width: 43%;
/*	opacity: 0;*/


}
/*#section3 img:hover{
	opacity: 1;
	
}*/
#frase{
	display: block;
	margin-right: 10%;
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 30%;
	font-size: 20pt;
	background-color: #4FAFB2;
	border-radius: 50px;
	color: white;
}

#pehome{
	border-top: 20px solid #9F8E7E;
	border-bottom: 20px solid #9F8E7E;
	background-color: black;
	padding: 30px;
	text-align: center;
	font-family: 'Bahiana', cursive;
	color: lightgray;
}
#pehome a{
	text-decoration: none;
}
